/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/www/app/config_sandbox
/www/app/etc/config.php
/www/app/etc/env.php
/www/app/code/Magento/TestModule*
/www/lib/internal/flex/uploader/.actionScriptProperties
//wwwlib/internal/flex/uploader/.flexProperties
/www/lib/internal/flex/uploader/.project
/www/lib/internal/flex/uploader/.settings
/www/lib/internal/flex/varien/.actionScriptProperties
/www/lib/internal/flex/varien/.flexLibProperties
/www/lib/internal/flex/varien/.project
/www/lib/internal/flex/varien/.settings
/www/node_modules
/www/.grunt
/www/Gruntfile.js
/www/package.json
/www/.php_cs
/www/.php_cs.cache
/www/grunt-config.json
/www/pub/media/*.*
!/www/pub/media/.htaccess
/www/pub/media/attribute/*
!/www/pub/media/attribute/.htaccess
/www/pub/media/analytics/*
/www/pub/media/catalog/*
!/www/pub/media/catalog/.htaccess
/www/pub/media/customer/*
!/www/pub/media/customer/.htaccess
/www/pub/media/downloadable/*
!/www/pub/media/downloadable/.htaccess
/www/pub/media/favicon/*
/www/pub/media/import/*
!/www/pub/media/import/.htaccess
/www/pub/media/logo/*
/www/pub/media/custom_options/*
!/www/pub/media/custom_options/.htaccess
/www/pub/media/theme/*
/www/pub/media/theme_customization/*
!/www/pub/media/theme_customization/.htaccess
/www/pub/media/wysiwyg/*
!/www/pub/media/wysiwyg/.htaccess
/www/pub/media/tmp/*
!/www/pub/media/tmp/.htaccess
/www/pub/media/captcha/*
/www/pub/static/*
!/www/pub/static/.htaccess

/www/var/*
!/www/var/.htaccess
/www/generated/*
!/www/generated/.htaccess
.DS_Store
