.banner-title h4{
	font-size: 30px;
}


.banner-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#banner_slider{
	overflow: hidden;
}

#banner_slider .owl-stage-outer,
#banner_slider .owl-stage,
#banner_slider .owl-item{
	height: 100%
}


#banner_slider .item{
	position: relative;
	margin: 0 !important;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.banner-image{
	width: 100%;
	float: left;
	height: 100%;
} 

#banner_slider .content_slider {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-height: 100px;
	max-width: 450px;
	width: 100%;
	box-shadow: 0 0 7px gray;
	text-align: center;
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#banner_slider .content_slider .banner-title h4{
	margin: 0px 0px 5px;
    text-transform: uppercase;
}

#banner_slider .content_slider span{
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0 8px;
	float: left;
	width: 100%;
	line-height: 1;
}

#banner_slider .content_slider span p{
	margin: 0px;
}

#banner_slider .owl-nav button{
	box-shadow: none !important;
	background-color: rgba(255,255,255,0.5);
	border: none;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	font-size: 40px;
	position: absolute;
	top: 50%;	
	transform: translateY(-50%);
	transition: 0.5s all;
	padding: 0px;
}
#banner_slider .owl-nav button:hover{
	background-color: rgba(255,255,255,1);
}
#banner_slider .owl-nav button span{
	font-size: 0px;
}
#banner_slider .owl-nav button span::after {
	position: absolute;
	content: "";
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	height: 12px;
	width: 12px;
	top: 20px;
}

#banner_slider .owl-nav .owl-prev{
	left: -15px;
}
#banner_slider .owl-nav button.owl-prev span::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	left: 25px;
}

#banner_slider .owl-nav .owl-next{
	right: -15px;
}
#banner_slider .owl-nav button.owl-next span::after {
	transform: rotate(130deg);
	-webkit-transform: rotate(130deg);
	right: 25px;
}

#banner_slider .owl-dots {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
#banner_slider .owl-dots .owl-dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	padding: 0;
	background: transparent;
	margin: 0 5px;
}

#banner_slider .owl-dots .owl-dot.active{
	background-color: #fff;
}

#banner_slider .content_slider.content_disabled,
#banner_slider .owl-nav.disabled{
	display: none;
}

#banner_slider .item-video{
	width: 100%;
	display: inline-block;
	height: 100%;
}

#banner_slider .item-video iframe{
	width: 100%;
	height: 100%;
}
.slider-rightcontent {
    position: absolute;
    top: 1px;
    right: 1px;
    box-shadow: 0 0 7px grey;
    text-align: center;
    display: inline-block;
    padding: 11px;
    background-color: rgba(255,255,255,0.7);
    font-size: 20px;
    font-weight: 600;
}
.slider-rightcontent p{
margin: 0px;
}
.slider-rightcontent-disabled {
	display: none;
}

@media screen and (max-width: 991px) {
	#banner_slider{
		    height: 500px !important;
	}
}
@media screen and (max-width: 767px) {
	#banner_slider{
		    height: 400px !important;
	}
}
@media screen and (max-width: 639px) {
	#banner_slider{
		    height: 350px !important;
	}
	#banner_slider .content_slider{
		max-width: 350px;
	}
}
@media screen and (max-width: 479px) {
	#banner_slider .content_slider {
		max-width: 190px;
	}
}