<?xml version="1.0"?>
<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2019 Tridhyatech (https://www.tridhya.com/)
 * @package Tridhyatech_Slider
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <slider>
            <slide>
                <sliderenabledisable>1</sliderenabledisable>
            </slide>
            <sliderconfiguration>
                <display>10</display>
                <delay>5000</delay>
                <display_titles>1</display_titles>
                <display_squares>1</display_squares>
                <next_previous>1</next_previous>
                <auto_slide>1</auto_slide>
                <autoplay_hoverpause>1</autoplay_hoverpause>
                <content_slide>1</content_slide>
                <right_content>1</right_content>
                <height>600</height>
            </sliderconfiguration>
        </slider>
    </default>
</config>
