<?xml version="1.0"?>
<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2019 Tridhyatech (https://www.tridhya.com/)
 * @package Tridhyatech_Slider
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tridhyatech\Slider\Api\Data\GridInterface" type="Tridhyatech\Slider\Model\Slider" />
    <virtualType name="Tridhyatech\Slider\Model\ResourceModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">slider</argument>
            <argument name="resourceModel" xsi:type="string">Tridhyatech\Slider\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slider_grid_listing_data_source" xsi:type="string">Tridhyatech\Slider\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Tridhyatech\Slider\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">slider/tmp/icon</argument>
            <argument name="basePath" xsi:type="string">slider/icon</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
               <item name="avi" xsi:type="string">avi</item>
               <item name="mp4" xsi:type="string">mp4</item>
               <item name="webp" xsi:type="string">webp</item>
             </argument>
        </arguments>
    </type>
</config>



