<?xml version="1.0"?>
<!--
/**
 * @author Tridhyatech Team
 * @copyright Copyright (c) 2019 Tridhyatech (https://www.tridhya.com/)
 * @package Tridhyatech_Slider
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Tridhyatech_Slider" setup_version="1.0.0">
        <sequence>
            <module name="Tridhyatech_Core"/>
        </sequence>
	</module>
</config>
