<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="testimonial" translate="label" sortOrder="10">
            <label>Testimonial</label>
        </tab>
        <section id="testimonial" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Testimonial setting</label>
            <tab>testimonial</tab>
            <resource>Coderkube_Testimonials::testimonial_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Testimonial Configuration</label>
              
				 <field id="email_sender" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Email Sender</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
				</field>
                <field id="admin_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Email ID</label>
                </field>
                 <field id="customer_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Customer Email Template</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
                 <field id="admin_template" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Admin Email Template</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
				
				
				

            </group>
			
			<group id="general1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Testimonial Display Configuration</label>
              
				<!-- <field id="display_website" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Website field </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field> -->
				<field id="display_cname" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Title field</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				

            </group>
			<group id="general2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Testimonial slider Display Configuration</label>
              
				 <field id="display_name" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Testimonial Name</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				 <field id="display_image" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Testimonial Image</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="display_rating" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Testimonial Rating </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="display_date" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Display Testimonial date </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				

            </group>
			<group id="general3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Testimonial slider setting</label>
              
				<field id="total_testimonial_display" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Number of Testimonial Display</label>
					 <validate>validate-greater-than-zero</validate>
					 <comment><![CDATA[If empty it will display 5 Testimonial.]]></comment>
				</field>
				

            </group>
			<group id="general4" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Required Field Setting</label>
              
				
				
				<field id="cname" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Title required</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<!-- <field id="website" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Website required</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field> -->
			
				
            </group>
			
        </section>
    </system>
</config>



