@font-face {
  font-family: "Uni Neue";
  src: local("UniNeueBlack-Italic"),
    url("UniNeueBlack-Italic.woff2") format("woff2"),
    url("UniNeueBlack-Italic.woff") format("woff"),
    url("UniNeueBlack-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.container {
  /* max-width: calc(100% - 6vw) !important; */
  width: 100% !important;
}
.header-container .container {
  max-width: calc(100% - 6vw) !important;
}
.top-bar {
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.header-top {
  background: #fff !important;
}

.header-top {
  clear: both;
}
.header-top-content {
  display: flex;
  justify-content: space-between;
}
.header-top .sm-searchbox-popular {
  display: none;
}
.custom-header .header-top .logo-header,
.custom-header .header-top .header-top-right {
  float: none;
  width: auto;
}

.custom-header .header-top .header-top-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}
.custom-header .search-wrapper {
  width: 100%;
  margin-right: 2rem;
  margin-left: 2rem;
}
.custom-header .search-wrapper .control {
  border: 1px solid #d6d6d6;
  padding-right: 0px;
  border-radius: 8px;
}
.custom-header .search-wrapper .input-text {
  height: 44px;
}

.logo-header img {
  width: 100%;
  max-width: 300px;
}

.custom-header .header-bottom {
  box-shadow: none;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.custom-header .sm_megamenu_menu > li.home-item-parent > a {
  box-shadow: none !important;
}
.custom-header
  .desktop-menu
  .sm_megamenu_wrapper_horizontal_menu
  .sm_megamenu_menu
  > li
  > a {
  font-style: italic;
  border-right: 1px solid #f1f1f1;
  font-family: "Uni Neue";
}
.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.slogan {
  font-weight: bold;
  color: #999;
}

.custom-header
  .minicart-header
  .minicart-wrapper
  .action.showcart
  .counter.qty {
  padding: 0px 15px 0 0;
}
.custom-header .minicart-header .minicart-wrapper .action.showcart {
  background: rgb(255, 85, 0);
  color: #fff;
  border-radius: 4px;
}
#nutrition-footer.footer-style-5 .footer-top-services {
  padding: 30px 0px;
  border-bottom: none;
  background: #f1f1f1;
}
#nutrition-footer.footer-style-5 .footer-top-services .services-header {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#nutrition-footer.footer-style-5 .footer-top-services .services-header li {
  text-align: center;
  /* float: left; */
  /* width: 24.33%;*/
  flex: 0 0 24.33%;
  padding: 15px;
  border: none;
}
#nutrition-footer.footer-style-5
  .footer-top-services
  .services-header
  li
  .sv-container
  p
  i {
  font-size: 3rem;
  color: rgb(255, 85, 0);
  margin-bottom: 10px;
}
#nutrition-footer.footer-style-5
  .footer-top-services
  .services-header
  li
  .sv-container
  h4 {
  font-size: 2rem;
  color: #333;
  font-family: "Uni Neue";
  margin-bottom: 10px;
}
#nutrition-footer.footer-style-5
  .footer-top-services
  .services-header
  li
  .sv-container
  p {
  margin: 0px;
  color: #676767;
}
#nutrition-footer.footer-style-5
  .footer-top-services
  .services-header
  li
  .sv-container {
  padding-left: 0;
  text-align: center;
}
#nutrition-footer.footer-style-5
  .footer-top-services
  .services-header
  li
  .sv-container::before {
  background: none;
  display: none;
}

#nutrition-footer.footer-style-5 {
  background-color: #d6d6d6;
  position: relative;
  color: rgb(255, 255, 255);
}
#nutrition-footer.footer-style-5 .footer-bottom .bottom-content {
  border: none;
}
#nutrition-footer.footer-style-5 .socials-footer .socials-wrap {
  border: none;
  text-align: left;
  padding: 35px 0;
}
#nutrition-footer.footer-style-5 .footer-block .footer-block-title h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  font-family: "Uni Neue";
}
#nutrition-footer.footer-style-5
  .footer-block
  .footer-block-content
  .links-footer
  li
  a {
  display: inline-block;
  padding: 2px 0px;
  color: #676767;
}
#nutrition-footer .footer-block {
  border-right: 1px dashed #333;
}

#nutrition-footer .contact-footer .footer-block {
  border-right: none;
}
.col-xl-10.nutrition-newsletter {
  flex: 0 0 80.333333%;
  max-width: 80.333333%;
}
.nutrition-newsletter .title-middle-footer {
  display: none;
}
.nutrition-newsletter h2 {
  font-weight: 700;
  color: #333;
  font-family: "Uni Neue";
}

.newsletter-content {
  display: flex;
  width: 100%;
}

.input-box {
  flex: 0 0 60%;
  margin-right: 15px;
}
.nutrition-newsletter p {
  color: #333;
  font-weight: 500;
}

.nutrition-newsletter button.action.subscribe.primary {
  background: rgb(255, 85, 0);
  border-radius: 5px;
  padding: 13px 20px !important;
  height: auto;
  line-height: 1;
}
.nutrition-newsletter input#newsletter-footer {
  padding: 10px 12px;
  border-radius: 5px;
  border: 0;
  color: #333;
  height: 40px;
}
.foot-top-content {
  border-bottom: 1px dashed #333;
  padding: 24px 0;
  margin-bottom: 28px;
  align-items: center;
}
.footer-bottom {
  background: #333;
}
#nutrition-footer .socials-wrap {
  text-align: left;
}
.payment-method ul {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  justify-items: right;
}

.payment-method {
  text-align: right;
}

.payment-method ul li {
  margin-right: 23px;
}
#nutrition-footer.footer-style-5 .socials-footer .socials-wrap ul li a {
  font-size: 18px;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #333;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
  background: #fff !important;
}

/* Sidebar CSS */
.sidebar-main .filter-options-item {
  border: 1px solid #ccc;
  padding: 15px;
  background: #fff;
  margin-bottom: 1rem;
}
.sidebar-main .block .block-content.filter-content {
  /* border-top: #ccc solid 1px; */
  background: none;
  border: none;
  padding: 0;
}
.sidebar-main
  .block
  .block-content.filter-content
  .filter-options-content
  .items
  li
  a::before {
  border-radius: 0;
  height: 19px;
  width: 19px;
  border: 1px solid #000;
  background: #fff;
}
.sidebar-main .block .block-content.filter-content .filter-options-content {
  padding-left: 0;
}
.sidebar-main
  .block
  .block-content.filter-content
  .filter-options-content
  .items
  li
  a {
  padding-left: 28px;
}
.sidebar-main .block .block-content.filter-content .filter-options-title {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.sidebar-main
  .block
  .block-content.filter-content
  .filter-options-content
  .items
  li {
  margin-bottom: 15px;
}

/* Product card list */
.category-product.products-list .item .item-inner {
  display: flex;
  border: 1px solid #f1f1f1;
  padding: 15px;
}
.category-product.products-list .product-item-details {
  text-align: left;
  position: relative;
  flex: 0 0 55%;
  padding: 0 20px;
}
.category-product.products-list .item .item-inner .box-info-list {
  margin-left: 0;
}
/* product card grid */

.category-product.products-grid .product-item-info {
  transition: all 0.2s ease 0s;
  border: 1px solid #f1f1f1;
  list-style: none;
  padding: 10px;
}
.category-product.products-grid .product-item-info .image-grid {
  position: relative;
}
.category-product.products-grid .product-item-details {
  text-align: left;
  position: relative;
  margin-bottom: 8px;
  padding: 0;
}
.price-block .price-box .old-price .price {
  color: #ccc;
  font-size: 1.2em;
  text-decoration: line-through;
  margin-left: 5px;
}
.price-block .price-box .price {
  color: #000000;
  font-size: 1.35em;
  line-height: 1em;
  font-family: "Uni Neue";
  font-style: italic;
}
.category-product .product-image-photo {
  margin: 0 !important;
}
.category-product.products-list .right-card-block {
  flex: 0 0 24%;
  border-left: 1px solid #f1f1f1;
  padding: 15px;
}
.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-block .price-box .special-price {
  margin-right: 0;
}

.percentage-block {
  font-size: 1.1em;
  height: 1.5em;
  padding: 0 10px;
  background: #e2001a;
  font-family: "Uni Neue";
  color: #fff;
  line-height: 1.4em;
  border-radius: 3px;
  margin-left: 2px;
  font-weight: 700;
  font-style: italic;
}
.save-amount {
  text-align: center;
  color: #e2001a;
  line-height: 1.1;
}
.save-amount .price_save {
  display: block;
  font-weight: 600;
}
.save-amount .price_saved_final {
  letter-spacing: 1px;
}
.products-grid .right-card-block .product-item-actions {
  padding: 0 5px;
  width: 100%;
}
.right-card-block #qty {
  border: 2px solid #ccc;
  border-radius: 3px;
  color: black;
  font-weight: 700;
  outline: 0;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.actions-primary .tocart,
.tocart,
.products-grid
  .nutrition-product-card
  .product-item-actions
  .actions-primary
  .tocart {
  width: 100%;
  background-color: #00b22d;
  color: #fff !important;
  font-size: 1.5rem !important;
  border: 1px solid #00b22d;
  font-family: "Uni Neue";
  text-transform: uppercase;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 5px 0 0 #2c942f;
  -moz-box-shadow: 0 5px 0 0 #2c942f;
  box-shadow: 0 5px 0 0 #2c942f;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-top: 10px;
  height: auto !important;
  line-height: 3;
  border-radius: 5px;
  font-weight: 700;
  border: none !important;
}
.product-8-style
  .product-card.products-grid
  .right-card-block
  .product-item-actions
  .actions-primary
  .tocart:hover,
.products-grid
  .nutrition-product-card
  .product-item-actions
  .actions-primary
  .tocart:hover {
  background-color: rgb(0 178 45 / 86%) !important;
}
.product-3-style
  .products-grid
  .nutrition-product-card
  .product-item-actions:hover
  .actions-primary
  .tocart:hover,
.products-grid
  .nutrition-product-card
  .product-item-info:hover
  .product-item-actions
  .actions-primary
  .tocart {
  background-color: rgb(0 178 45 / 86%) !important;
}
.products-grid
  .right-card-block
  .product-item-actions
  .actions-primary
  .tocart::before,
.products-grid
  .nutrition-product-card
  .product-item-actions
  .actions-primary
  button::before {
  content: "\f290";
  display: inline-block;
  width: 17px;
  height: 15px;
  background: none;
  position: relative;
  top: 0px;
  margin-right: 3px;
  transition: all 0.2s ease 0s;
  font-family: "FontAwesome";
}
.right-card-block .product-item-actions .actions-primary {
  width: 100%;
}
.in-stock {
  padding-top: 10px;
  text-align: center;
}
.in-stock:before {
  content: "\f00c";
  font-family: "FontAwesome";
  margin-right: 9px;
  color: #00b22d;
}
.product-item-name .product-item-link {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1em;
}
.breadcrumbs {
  padding: 15px 0 15px;
  margin-bottom: 0;
  background: #f1f1f1;
}
.breadcrumbs .items .item:first-child {
  padding-left: 39px;
  border: none !important;
  color: #999;
}
.breadcrumbs .items .item {
  border: none !important;
}
.breadcrumbs .items .item:before,
.breadcrumbs .items .item:after {
  border: none !important;
  width: 0;
  height: 0;
  transform: rotate(0);
}
.breadcrumbs .item:last-child {
  padding-left: 0 !important;
}
.toolbar.toolbar-products {
  display: flex;
  justify-content: space-between;
}
.toolbar .toolbar-sorter {
  border: 1px solid #ccc;
  padding: 5px;
}
.toolbar .toolbar-sorter .sorter-label {
  line-height: 18px !important;
}
.toolbar .toolbar-sorter select {
  height: auto;
  border: none;
  padding: 0;
}
.col-right-main .page-title {
  font-size: 3.2em;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  font-family: "Uni Neue";
  margin-bottom: 15px;
}
.page-title:before {
  display: none;
}
.category-description h2 {
  font-family: "Uni Neue";
  color: rgb(255, 85, 0);
  margin-bottom: 15px;
}
.category-description p {
  color: #333;
  font-size: 15px;
}
.navigation > ul::before {
  background: none;
  display: none;
}
.navigation {
  max-width: calc(100% - 6vw) !important;
  width: 100% !important;
}
.block.ves-megamenu .navigation .level0 > a,
.block.ves-megamenu .navigation .content-type-parentcart .level1 > a {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  padding: 0 15px;
  font-family: "Uni Neue";
  color: #333;
  border-right: 1px solid #eee;
}
.navigation ul li.parent > a::after {
  display: none;
}

.ves-megamenu .navigation .level0 > a i {
  font-size: 20px;
  line-height: 19px;
  vertical-align: middle;
  margin-left: 9px;
  font-weight: bold;
}
.ves-megamenu {
  margin-bottom: 0;
}
.ves-megamenu .navigation ul li.parent > a:after {
  display: none;
}
#category-tabs .mgz-tabs-nav a {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  margin-right: 36px;
  text-transform: uppercase;
  color: #999;
  font-family: "Roboto";
}

#category-tabs .mgz-tabs-nav .mgz-active a {
  border-bottom: 2px solid #ff4202;
  color: #333;
  font-weight: 600;
}
#category-tabs .mgz-single-image-wrapper {
  display: block;
}
#category-tabs .magezon-builder img {
  height: auto;
  width: 100%;
}

#deal-section-heading-big h2 {
  font-size: 2.8rem;
  font-family: "Uni Neue";
  color: #333;
}

#deal-section-heading-big .mgz-element-inner {
  margin-bottom: 0;
}
#deal-section-heading-small h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #999;
}
/* horizontal product card */
.h-product-card .block-content-products {
  display: flex;
}

.deals-items {
  flex: 0 0 49.333%;
  max-width: 49.333%;
  padding: 0 15px;
}

.h-product-card .product-item {
  border: 1px solid #ccc;
  width: 100% !important;
  padding: 15px !important;
}

.h-product-card .item-inner {
  display: flex;
}

.h-product-card .product-image-wrapper {
  padding: 0 !important;
  height: auto !important;
}

.h-product-card img.product-image-photo {
  position: inherit;
  height: auto;
  display: inline-block;
  width: 100% !important;
}
.h-product-card .box-image {
  flex: 0 0 40%;
  max-width: 40%;
}
.products-grid.h-product-card .product-item-details {
  padding: 0 20px 0;
  text-align: left !important;
}
.h-product-card .product-name {
  max-width: 250px;
}
.h-product-card .product-name a {
  color: #ff6000;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2;
  font-family: "Uni Neue";
}

.h-product-card .price-block {
  justify-content: inherit;
  padding: 10px 0;
}
.h-product-card .price-box {
  margin-right: 10px;
}

.h-product-card .percentage-block {
  margin-right: 10px;
}

.h-product-card .deals-description {
  color: #333;
  font-size: 14px;
  line-height: 17px;
}
.home-page-23 .mgz-container {
  width: 100% !important;
  max-width: calc(100% - 6vw) !important;
}

#banner-floor .mgz-single-image-wrapper {
  display: block;
}
#banner-floor .mgz-single-image-wrapper img {
  width: 100%;
}
.review-floor {
  border-top: 1px solid #f1f1f1;
}

.review-floor p {
  color: #000;
  margin-bottom: 5px;
}

.review-floor i.fas.fa-star {
  color: #ff6000;
}

a.mgz-btn {
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Uni Neue";
  background: transparent;
  border: 1px solid #999;
  color: #999;
  padding: 6px 12px !important;
}
.home-description h2 {
  font-family: "Uni Neue";
  color: #333;
  margin-bottom: 13px;
}
.home-description p {
  font-size: 14px;
  line-height: 25px;
}
.home-description p {
  font-size: 14px;
  line-height: 25px;
}

.home-description li {
  margin-bottom: 14px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.home-description li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #00b22d;
}

.home-description li a {
  text-decoration: underline;
}

.home-description ul {
  padding: 10px 25px;
}
.footer-wrapper .container {
  max-width: calc(100% - 6vw) !important;
}
.products-grid .product-item-info {
  border: 1px solid #ff6000;
  padding: 10px;
}
.mage-new-slider .nutrition-product-card .product-item-info {
  border: 1px solid #ccc;
}
/* .nutrition-product-card .owl-item {
  margin-right: 0 !important;
} */
.products-grid .nutrition-product-card .product-item-details {
  padding: 8px 0 !important;
  text-align: left;
}

.column.main .mage-featured-slider .product-item,
.column.main .mage-new-slider .product-item {
  padding: 0 !important;
}
.products-grid .product-item-actions {
  width: 100%;
}
.product-item-actions .actions-primary {
  width: 100%;
}
.minicart-header .minicart-wrapper .action.showcart::after {
  opacity: 1 !important;
}
@media screen and (min-width: 768px) {
  #nutrition-footer .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }
  .nutrition-product-card .tocart {
    display: none;
  }
  .products-grid
    .nutrition-product-card
    .product-item-info:hover
    .product-item-actions
    .actions-primary
    .tocart {
    display: inline-block;
  }
  .products-grid .product-item-actions,
  .product-item-actions .actions-primary {
    display: inline-block;
    width: 100%;
  }
  .nutrition-newsletter.mobile-newsletter {
    display: none;
  }
  .minicart-header.mobile-minicart {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .h-product-card .block-content-products {
    flex-wrap: wrap;
  }
  .h-product-card .deals-items {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .h-product-card .item-inner {
    align-items: center;
  }
  .h-product-card .product-name {
    max-width: 160px;
  }
  .top-bar {
    display: none;
  }
  .custom-header .search-wrapper {
    position: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  .header-top-content {
    flex-wrap: wrap;
  }
  .minicart-header {
    position: inherit !important;
  }
  .custom-header .header-top .header-top-right {
    align-items: center;
  }
  .logo-content {
    text-align: right;
  }
  .header-top-content .logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .minicart-header.desktop-minicart {
    display: none;
  }
  .logo-header img {
    max-width: 240px;
  }
  .nav-mobile-container .btn-mobile .button-mobile i {
    background: transparent;

    font-size: 34px;

    line-height: 37px;
    color: #ccc;
  }
  #nutrition-footer.footer-style-5 .footer-top-services .services-header {
    flex-wrap: wrap;
  }
  #nutrition-footer.footer-style-5 .footer-top-services .services-header li {
    flex: 49.333%;
  }
  #nutrition-footer .footer-block {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px;
    padding-bottom: 11px;
  }
  .nutrition-newsletter.desktop-newsletter {
    display: none;
  }
  .footer-style-5 .footer-top {
    padding-top: 0 !important;
  }
  .nutrition-newsletter.mobile-newsletter {
    text-align: center;
    padding: 15px 0px;
  }
  .foot-top-content {
    border-bottom: none;
    padding: 9px 0 0;
    margin-bottom: 0;
    align-items: center;
  }
  .footer-block-content {
    display: none;
  }
  .footer-block.active .footer-block-content {
    display: block;
  }
  .footer-block-title {
    margin-bottom: 0 !important;
  }
  .footer-block-title:after {
    content: "\f107";
    position: absolute;
    right: 20px;
    color: #333;
    top: 0;
    font-family: "FontAwesome";
    font-size: 2rem;
    line-height: 15px;
  }
  #nutrition-footer.footer-style-5
    .footer-block
    .footer-block-content
    .links-footer
    li
    a {
    color: #333;
  }
}
